body {
    margin: 180px 0 0 100 px;
}


div.flag {
    width: 1280px;
    height: 500px;
    border: 2px solid;
    background: url("./img/flag.png");
    position: relative;
    top: 150px;
    margin: 0 auto;
}


img.profile {
    max-width: 215px;
    position: relative;
    top: -110px;
    left: 525px;
    border: 2px solid;
    z-index: 1;
}


@font-face {
    font-family: dragonIsComing;
    src: url("dragon_is_coming.otf");
}

@keyframes fadein {
    0% {opacity: 0.0;}
    100% {opacity: .1;}
}

a {
    color: black;
}


#html-text {
    animation: fadein 6s linear;
    z-index: 2;
    font-family: Menlo;
    font-size: 23px;
    height: 500px;
    width: 420px;
    position: relative;
    float: left;
    top: -670px;
    left: 8px;
    opacity: .1;
}

#name {
    font-family: dragonIsComing, Arial;
    font-size: 200px;
    text-align: center;
    position: relative;
    top: -175px;

}

#center {
    font-family: dragonIsComing;
    font-size: 75px;
    position: relative;
    top: -250px;
}

#icons {
    z-index: 3;
    position: relative;
    margin: 0 auto;
    top: -250px;
    left: 100px;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
}


#icons:hover {
    height: 10px;
}

a:link {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}



#eiffel {
    max-height: 500px;
    position: relative;
    top: 160px;
    left: 100px;
    margin: 0 auto;
}

div.about-page {
    border:1px solid #d5dfff;
    border-radius: 10px;
    background-color: #e6ecff;
    height: 500px;
    width:1280px;
    font-family: Verdana, Geneva;
    font-size: 25px;
    position: relative;
    top: 150px;
    margin: 15px auto;
}

div.about-page > p {
    background-repeat: no-repeat;
    background-color: #f1f1ff;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    top: -600px;
    left: 100px;
    width: 1000px;
    clear: both;
}

div.work {
    border: 1px solid #f6f6f6;
    background-color: #fafafa;
    border-radius: 10px;
    height: 335px;
    width: 1280px;;
    font-family: Verdana, Geneva;
    font-size: 35px;
    position: relative;
    top: 150px;
    margin: 15px auto;
}

div.watermarks {
    position: relative;
    top: 150px;
    width: 1280px;
    margin: 15px auto;
    height: 450px;
    background-color: #fafafa;
    border-radius: 10px;
}

.watermarks > table {

    position: relative;
    top: 100px;
    margin: 0 auto;
    opacity: .7;
}

.watermarks > img {
    max-width: 200px;
}
ul > li {
    font-family: Verdana;
    font-size: 30px;
    list-style-type: none;
    display: inline;
}

div#project1 {

    height: 320px;
    width: 350px;
    margin: 5px;
    position: absolute;
    left: 10px;
    top: 0px;

}
div#project2 {

    height: 320px;
    width: 350px;
    margin: 5px;
    position: absolute;
    left: 430px;
    top: 0px;

}
div#project3 {
    top: 0px;
    height: 320px;
    width: 350px;
    left: 850px;
    margin: 5px;
    position: absolute;

}

div.contact-page {
    border: 1px solid #ffe6e3;
    background-color: #ffe6e3;
    border-radius: 10px;
    height: 750px;
    width: 1280px;
    position: relative;
    top: 150px;
    margin: 15px auto;

}

.contact-page > ul {
    position: relative;
    right: 50px;
}

form {
    border-radius: 10px;
    background-color: #fcfcfc;
    position: relative;
    padding: 15px;
    width: 550px;
    top: -10px;
    left: 50px;
    font-family: "Verdana";
    font-size: 20px;
}

    div#hook {

    }
}

.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:6px 24px;
    margin-top: 5px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    height: 40px;
    width: 100px;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
}
.myButton:active {
    position:relative;
    top:1px;
}

#textarea {
    border-radius: 5px;
    resize: none;
    border: 1px solid #cccccc;
    height: 300px;
    width: 500px;
    font-size: 20px;
    font-family: Verdana;
    position: relative;
    top: -5px;
}

#hook {
    border-radius: 10px;
    background-color: #fcfcfc;
    position: absolute;
    top: 82px;
    left: 650px;
    padding: 15px;
    width: 550px;
    font-family: "Verdana";
    font-size: 20px;
}