body {
    margin: 180px 0 0 100 px;
}


div.flag {
    width: 1280px;
    height: 500px;
    border: 2px solid;
    background: url("./img/flag.png");
    position: relative;
    top: 150px;
    margin: 0 auto;

}


img.profile {
    max-width: 215px;
    position: relative;
    top: -110px;
    left: 525px;
    border: 2px solid;
    z-index: 1;
}

@font-face {
    font-family: dragonIsComing;
    src: url("dragon_is_coming.otf");
}

#js-text {
    z-index: 2;
    font-family: Menlo;
    font-size: 23px;
    height: 500px;
    width: 420px;
    position: relative;
    float: right;
    top: -665px;
    opacity: 0.1;
}

#html-text {
    z-index: 2;
    font-family: Menlo;
    font-size: 23px;
    height: 500px;
    width: 420px;
    position: relative;
    float: left;
    top: -670px;
    left: 8px;
    opacity: 0.1;
}

#name {
    font-family: dragonIsComing, Arial;
    font-size: 200px;
    text-align: center;
    position: relative;
    top: -150px;

}

#center {
    font-family: dragonIsComing;
    font-size: 75px;
    position: relative;
    top: -215px;
}

table {
    z-index: 3;
    position: relative;
    margin: 0 auto;
    top: -250px;
    left: -200px;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
}

td {
    padding-right: 15px;
}

#eiffel {
    z-index: -1;
    max-height: 1000px;
    position: relative;
    float: right;
    border: 1px solid;
}

#about-page {
    border:1px solid red;
    height: 500px;
    width:auto;
    font-family: Verdana, Geneva;
    font-size: 35px;
    position: relative;
    margin: 0 auto;
    top: 200px;
}

div.work {
    border: 1px solid blue;
    height: 200px;
    width:auto;
    font-family: Verdana, Geneva;
    font-size: 35px;
    position: relative;
    margin: 2px auto;
    top: 200px;
}

div#project1 {
    float: left;
    height: 200px;
    border: 1px solid black;
}
div#project2 {
    height: 200px;
    max-width: 410px;
    border: 1px solid black;
}
div#project3 {
    float: right;
    height: 200px;
    border: 1px solid;
}

#contact-page {
    border: 1px solid green;
    height: 350px;
    width:auto;
    font-family: Verdana, Geneva;
    font-size: 35px;
    position: relative;
    top: 200px;
}

form {
    font-family: "Times New Roman";
    font-size: 20px;
}

