body {
    margin: 180px 0 0 100 px;
}

#container {

}

div.flag {
    width: 1280px;
    height: 500px;
    border: 2px solid;
    background: url("./img/flag.png");
    position: relative;
    top: 150px;
    margin: 0 auto;
}


img.profile {
    max-width: 215px;
    position: relative;
    top: -110px;
    left: 525px;
    border: 2px solid;
    z-index: 1;
}

@font-face {
    font-family: dragonIsComing;
    src: url("dragon_is_coming.otf");
}

#html-text {
    z-index: 2;
    font-family: Menlo;
    font-size: 23px;
    height: 500px;
    width: 420px;
    position: relative;
    float: left;
    top: -670px;
    left: 8px;
    opacity: 0.1;
}

#name {
    font-family: dragonIsComing, Arial;
    font-size: 200px;
    text-align: center;
    position: relative;
    top: -150px;

}

#center {
    font-family: dragonIsComing;
    font-size: 75px;
    position: relative;
    top: -215px;
}

table {
    z-index: 3;
    position: relative;
    margin: 0 auto;
    top: -250px;
    left: -200px;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
}

td:hover {
    font-weight: bold;
}

a:link {
    text-decoration: none;
}

td {
    padding-right: 15px;
}

#eiffel {
    max-height: 500px;
    position: relative;
    top: 150px;
    left: 100px;
    margin: 0 auto;
}

div.about-page {
    border:1px solid red;
    height: 500px;
    width:1280px;
    font-family: Verdana, Geneva;
    font-size: 35px;
    position: relative;
    top: 150px;
    margin: 15px auto;
}


div.work {
    border: 1px solid blue;
    height: 335px;
    width: 1280px;;
    font-family: Verdana, Geneva;
    font-size: 35px;
    position: relative;
    top: 150px;
    margin: 15px auto;
}

div.contact-page {
    border: 1px solid green;
    height: 210px;
    width: 1280px;;
    font-family: Verdana, Geneva;
    font-size: 35px;
    position: relative;
    top: 150px;
    margin: 15px auto;

}



ul > li{
    list-style-type: none;
    display: inline;
}

ul#contact-info {
    list-style-type: square;

}

div#project1 {
    height: 320px;
    width: 350px;
    border: 1px solid black;
    margin: 5px;
    position: absolute;
    left: 0px;
    top: 0px;

}
div#project2 {
    height: 320px;
    width: 350px;
    border: 1px solid black;
    margin: 5px;
    position: absolute;
    left: 390px;
    top: 0px;

}
div#project3 {
    height: 320px;
    width: 350px;
    border: 1px solid;
    margin: 5px;
    position: absolute;
    right: 0px;
    top: 0px;

}

form {
    font-family: "Times New Roman";
    font-size: 20px;
}

